body{
    background-color: #d5d9e0;
}
h1{
    padding-block: 5%;
    display: block;
    font: 3em sans-serif;
    flex-direction: row;
    text-align: center;
    width: 20em;
}

nav{
    display: flex;
    background-color: #4a6d88;
    border-radius: 1em;
    align-items: relative;

}
#navbutton{
    display: flex;
    background-color: #4a6d88;
    align-items: left;
    align-content: center;
    width: 10em;
    border-radius: 1em;
    border-color: #4a6d88;
    
    
}
.body{
    height: 500px;
    display: block;
}

div>p{
    text-align: center;
    display: block;
    margin: 5px;
    border: 10px;
    border-color: #4a6d88;
    font-style: sans-serif;
    font-weight: 900;

}
.base{
    display: block;
    height: 100px;
    background-color: aquamarine;
    border-radius: 1em;

}
#thank>h2{
    justify-content: center;
    display: grid;
    
}
